<div class="chat_top">
  <div class="room_title">techroom1</div>
  <div class="room_close_button"><a class="" href="#" >チャットを終了する</a></div>
</div>
<div class="chat_main">
  <ul>
    <li>
      <div class="name_date_wrapper">
        <span class="chat_name" >Tom</span>
        <span class="chat_date">2020/3/31(Wed) 12:43:30</span>
      </div>
      <div class="message">おはよう</div>
    </li>
    <li>
      <div class="name_date_wrapper">
        <span class="chat_name" >Sim</span>
        <span class="chat_date">2020/3/31(Wed) 12:43:30</span>
      </div>
      <div class="message">こんにちわ</div>
    </li>
  </ul>
  <div class="user_name_on_chat"></div>
</div>
<div class="chat_form">
  <form action="#" class="form">
    <div class=form_input>
      <input type="text" class="form_text" placeholder="type a message">
      <label class="form_image">
        <span>画像</span>
        <input type="file" class="hidden">
      </label>
    </div>
    <input type="submit" class="form_submit" value="送信" >
  </form>
</div>
