<div class="chat_top">
  <div class="room_title">techroom1</div>
  <div class="room_close_button"><a class="" href="#" >チャットを終了する</a></div>
</div>
<div class="chat_main">
  <ul>
    <%= render partial: "message", collection: @messages %>
  </ul>
</div>
<div class="chat_form">
  <%= form_with model: [@room, @message], class: 'form', local: true do |f|  %>
    <div class=form_input>
      <%= f.text_field :content, class: "form_text", placeholder: "type a message" %>
      <label class="form_image">
        <span>画像</span>
        <input type="file" class="hidden">
      </label>
    </div>
    <%= f.submit '送信', class: "form_submit" %>
  <% end %>
</div>
