<li>
  <div class="name_date_wrapper">
    <span class="chat_name" ><%= message.user.name %></span>
    <span class="chat_date"><%= l message.created_at %></span>
  </div>
  <div class="message"><%= message.content %></div>
</li>
